.newContacsForm {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

.title {
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-style: italic;
}

.labelTitle {
  display: inline-block;
  width: 50px;
  margin-right: 10px;

  color: white;
}

input {
  padding: 10px;

  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

input::placeholder {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

input:focus::placeholder {
  opacity: 0;
}

.addBtn {
  display: block;
  min-width: 100px;
  padding: 5px;

  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: blue;
  color: white;
  outline: none;
  cursor: pointer;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.addBtn:hover {
  background-color: lightblue;
  color: black;
}
