.contacsList {
  min-height: 100px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  list-style-type: disc;
  border-bottom: 1px solid white;
}

.name {
  margin-left: 5px;
  font-weight: 500;
}

.closeBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: inherit;

  border-radius: 50%;
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.closeBtn:hover {
  background-color: white;
  color: red;
}
